// Navigation code here
.topnav{
    background-color: @nav-bg;
    font: @nav-font;
    border: @nav-border;
    text-align: center;
    padding: 2rem;

    h1{
        font-size: 5rem;
        padding-bottom: 2rem;
    }

    a{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 2.5rem;
        .nav-link();
    }
}